.main_trading_page {
    margin-top: 10px;
    padding: 0 10px;

    .inner_pages {
        display: flex;

        @media($breakpoint_XL) {
            display: block;
        }

        .left_area {
            flex-basis: 100%;



            .left_inner {
                display: flex;

                @media($breakpoint_LG){
                    flex-direction: column-reverse;
                }

                .order_book_sec {
                    flex-basis: 30%;
                    margin-bottom: 10px;
                    background-color: var(--card-bg-color);
                    border-radius: 10px;
                    // padding: 10px;

                    @media($breakpoint_LG){
                        margin-top: 10px;
                    }
                }

                .main_chart_sec {
                    flex-basis: 70%;
                    margin-left: 10px;
                    overflow: hidden;

                    @media($breakpoint_LG) {
                        flex-basis: 100%;
                        margin-left: 0px;
                    }

                }
            }
        }

        .right_area {
            flex-basis: 25%;
            margin-left: 10px;

            @media($breakpoint_XL) {
                margin-left: 0px;
            }

            @media($breakpoint_MD) {
                margin-left: 0px;
                flex-basis: 100%;
            }

            // .right_table_section{

            // }
        }
    }

    // .bottom_table_market{

    // }
}

.react-tabs {

    .mian_tablist {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--card-bg-color);
        border-radius: 10px 10px 0px 0px;
        padding: 10px;
    }

    .react-tabs__tab:focus:after {
        background-color: transparent;
    }

    .react-tabs__tab-list {
        border: none;
        color: var(--light-theme-txt);
        font-size: 12px;
        font-weight: 600;
        display: flex;
        gap: 20px;
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
        justify-content: center;
        background-color: var(--body-bg);
        border-radius: 100px;
        margin-bottom: 0px;
        list-style: none;
        padding-left: 0px;


        @media($breakpoint_SM) {
            font-size: 15px;
        }

        @media($breakpoint_ESM){
            padding-left: 2rem;
        }

    }

    .react-tabs__tab {
        padding: 7px 30px;
        border: none;

        &:focus-visible{
            outline: none;
            border: none;
        }
    }

    .react-tabs__tab--selected {
        border: none;
        background-color: transparent;
        color: var(--theme-txt-color);
        background-color: var(--input-bg-color);
        border-radius: 100px;
    }


}

.pink{
    color: var(--pink) !important;
}

.line_span{
    background-color: var(--body-bg);
    width: 100%;
    height: 3px;
}

.hr{
    width: 100%;
    height: 5px;
}

.canvasjs-chart-canvas{
    background-color: #1b1c1d63;
    border-radius: 10px;
}


@mixin card__bg__s {
    // background-color: $left__trading;
    background-color: #151414;
    color: var(--theme-txt-color);
    overflow: hidden;
    // border: 1px solid #d9dadb3a;
    border-radius: 3px;
}

.trade_tab_none {
    display: none !important;

    @media($breakpoint_MD) {
        display: block !important;
    }
}

.block_live_topchart {
    display: none;

    @media($breakpoint_MD) {
        display: block;
    }
}